<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
	import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

    import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
	*{
	color:white;

	}
    a{
    text-decoration:none;
    color:white;
    }
    media screen and (max-width:500px){
#a1{
    width:100%;

}}
    body{
        background-color:rgb(247, 92, 92);
    }
#p1{
        font-size:50px;

    }
    #p2{
        width:40%;
        margin-left:auto;
        margin-right:auto;
    }
    #a1{
        text-decoration:none;
        border:1px solid;
        border-radius:40px;
        padding:0px;
        width:30%;
        margin-left:auto;
        margin-right:auto;
    }
    i{
        margin-top:0px;
    }
    img{
        width:20%;
    }
    media screen and (max-width:700px){
#a1{
    width:50%;

}
#p2{
    width:50%;

}
img{width:40%}
}
    </style>
    <title>Tinder</title>
</head>
<body>
    <br><br><br><br><br>

    <div class="center"><img src="s.png"></div><br>
    <br><br>
    <div class="center" id="p2"><p> By clicking login, you agree with our <b>Terms and Conditions</b><br> Good luck for your Friend Hunt</p></div><br>


    <div class="center-align" id="a1">
        <a href="#">
            <p><i class="fa fa-facebook"></i> &nbsp &nbsp Sign up with facebook</p>
        </a>
    </div><br>
    <div class="center-align" id="a1">
        <a href="#">
            <p><i class="fa fa-google"></i> &nbsp &nbsp Sign up with google</p>
        </a>
    </div><br>
    <p class="center">Not signed up yet :( Click <b><a href="#">here </a></b> to sign up.</p>
</body>
</html>
